<h1><%= @event.name %> </h1>
<% @event.invites.each do |invite| %>
  <%= invite.name %> RSVP: <%= invite.rsvp %>
  <%= link_to "Edit", "/invites/#{invite.id}/edit" %>
 <%#= link_to invite.name, "/invites/:id/edit" %><br>
<% end %>
<%= link_to "Create a new Invite", new_event_invite_path(@event.id) %>
